* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.header-row {
    display: flex;
    justify-content: space-between;
}

.row-section-1 {
    display: flex;
    justify-content: center;
}

/* HEADER */

.col-6 {
    flex-basis: calc(100% / 2);
}

.col-3 {
    flex-grow: 1;
}

.logo, .link, .login {
    padding: 5px;
    border: 1px dotted black;
}

.link {
    text-align: center;
}

.login {
    text-align: right;
}

/* MAIN firt section */

.col-10 {
    min-height: 260px;
    flex-basis: 50%;
    background-color: #EF81EE;
}










/* DEBUG */

.debug .page-header {
    padding: 10px;
    height: 50px;
    background-color: #ADD8E6;
}

.debug .nav-header {
    
    background-color: #DBA421;
}

.debug .main-section-1 {
    min-height: 300px;
    background-color: #00049C;
    padding: 20px;
}

