* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;

}

.header-row {
    display: flex;
    justify-content: space-between;

}

/* HEADER */

.col-6 {
    flex-basis: calc(100% / 2);
}

.col-3 {
    flex-grow: 1;
}

.logo, .link, .login {
    padding: 5px;
    border: 1px dotted black;
}

.link {
    text-align: center;
}

.login {
    text-align: right;
}








/* DEBUG */

.debug .page-header {
    padding: 10px;
    height: 50px;
    background-color: #ADD8E6;
}

.debug .nav-header {
    
    background-color: #DBA421;
}

